body {
    background-color: rgb(253, 250, 255);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: left;
    margin: 10%;
    

    
  }
  
  h1 {
    font-size: 60px; 
    color: #f47933;
    text-align: center;
  }
 img{
   float: unset
 }
 .video{ 
   align-self: center;
   
 }
  .mega {
    float: left;
  }
  .tree{
    align-content: center;
  }
  .wall{
  }
  .dyna{
    float: right;
  }
  .dex{
    float: right;
  }
  h3 { 
    font-size: 40px; color: #f47933;
   text-align: center
  }
  
  p {
    font-size: 28px;
  }
  a{
    text-decoration: #f47933;
  }
  
 